:root {
  --body-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-logo-color: #000000;
  --button-primary-color-hover: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --team-back-color: #f5f4fa;
  --bg-hero-footer-color: #2f303a;
}

body {
  background-color: var(--body-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  color: inherit;
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0px;
}

/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--accent-color);
}

.logo .studio {
  color: var(--text-logo-color);
}

/* .studio:hover,
.studio:focus, */
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

/*  site-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* .site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--accent-color);
}*/

/* .site-nav .link.current {
  color: var(--accent-color); 
}*/

/* address-header */
.address-header {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-header:hover,
.address-header:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background: var(--bg-hero-footer-color);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  color: var(--body-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button-primary {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--body-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--body-color);
  color: var(--title-text-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* features */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* our team */
.section-team {
  background-color: var(--team-back-color);
}

.section-team .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background-color: var(--bg-hero-footer-color);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.adds-webstudio {
  color: var(--body-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.web-footer {
  color: var(--accent-color);
}

.studio-footer {
  color: var(--body-color);
}

/* .studio-footer:hover,
.studio-footer:focus {
  color: var(--accent-color);
} */
/* finish */

/* СТИЛИ ПОРТФОЛИО */

.filtres {
  color: var(--title-text-color);
  background-color: var(--team-back-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  /* text-align: center; */
}
.content-selector .filtres:hover,
.content-selector .filtres:focus,
.content-selector .filtres:active {
  color: var(--body-color);
  background-color: var(--accent-color);
}

/* контент портфолио */
.portfolio h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
